<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SELDController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SELDController.Properties.Settings>
            <setting name="portName" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_010" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_020" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_030" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_040" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_050" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_060" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_070" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_080" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_090" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_100" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_110" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_120" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_130" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_140" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_150" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_160" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_limit" serializeAs="String">
                <value />
            </setting>
            <setting name="vehicle_res" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_num" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_eb_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_full_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_sap_max_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="chat_filter" serializeAs="String">
                <value />
            </setting>
            <setting name="first_boot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="brk_sap_min_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_keep_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_keep_full_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="bp_span_down" serializeAs="String">
                <value />
            </setting>
            <setting name="bp_span_up" serializeAs="String">
                <value />
            </setting>
            <setting name="autoair_use" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="mc_num" serializeAs="String">
                <value />
            </setting>
            <setting name="mc_num_max" serializeAs="String">
                <value />
            </setting>
            <setting name="mtr_current" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mtr_kaisei" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autonotch_use" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="atsconf_flip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="realAutoAir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FVMin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FVMax" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="BPMin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BPMax" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="BCMin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AveRatio" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="FVPressMax" serializeAs="String">
                <value>490</value>
            </setting>
            <setting name="FVPressMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BPPressMax" serializeAs="String">
                <value>490</value>
            </setting>
            <setting name="BPPressMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="BCMax" serializeAs="String">
                <value>490</value>
            </setting>
            <setting name="BCMaxNorm" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="BCMulti" serializeAs="String">
                <value>20.0</value>
            </setting>
            <setting name="BCMultiNorm" serializeAs="String">
                <value>3.3</value>
            </setting>
            <setting name="EBInterval" serializeAs="String">
                <value>7.0</value>
            </setting>
            <setting name="maxLogLines" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AtsDengenMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AtsPEast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AtsPDengenAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AtsContactUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AtsDengenTounyuTime" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="BPvelocityKyudouThreshold" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Evalve" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BCMultiE" serializeAs="String">
                <value>2.7</value>
            </setting>
            <setting name="BCMaxE" serializeAs="String">
                <value>490</value>
            </setting>
            <setting name="AveRatioE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EBOndelay" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="EBThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="maxSpeed" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="board_ATSP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="board_Disp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="input_flip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbUnitNum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cbUnitDisp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegOffDelay" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="portNameAirRead" serializeAs="String">
                <value />
            </setting>
            <setting name="rbATS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Section_Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbFVhold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="portNameDensei" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_ats_dengen_angl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AtsPDengenTounyuTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AtsActiveMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="adj_N" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="adj_EB" serializeAs="String">
                <value>1023</value>
            </setting>
        </SELDController.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
